<div class="container mrt10">
  <ul class="list-group list-group-horizontal">
    <a class="list-group-item" *ngFor="let item of items; let i = index" [ngClass]="{'list-group-item-danger': true}" href="/detail/{{item}}">{{item}}{{time}}</a>
    <!-- <a class="list-group-item" href="/detail/">10:00AM</a>
    <a class="list-group-item" href="/detail">11:00AM</a>
    <a class="list-group-item" href="/detail">12:00AM</a>
    <a class="list-group-item" href="/detail">1:00PM</a>
    <a class="list-group-item" href="/detail">2:00PM</a>
    <a class="list-group-item" href="/detail">3:00PM</a>
    <a class="list-group-item" href="/detail">4:00PM</a>
    <a class="list-group-item" href="/detail">5:00PM</a>
    <a class="list-group-item" href="/detail">6:00PM</a>
    <a class="list-group-item" href="/detail">7:00PM</a> -->
  </ul>
</div>

